@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

.box {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 0.8;
  width: 300px;
  padding: 30px;
}

input, select {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #F0F0F0;
  padding: 15px;
  display: block;
}